<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This website is built with the help of the <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>.
  Futher modifications were built off of a basic application framework. 
</p>
<p>
  <a href="https://github.com/Calebs97/Cookbook"><em> Click here for the full codebase.</em></a>
</p>