<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can find me on 
  <a href="https://www.linkedin.com/in/calebsiu">Linkedin</a> or email me at <a href="mailto:calebs11@berkeley.edu" target="_top">calebs11@berkeley.edu</a>.
</p>